<a href="https://colab.research.google.com/github/Dhatrikowthavarapu/DataAnalysis/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PANDAS 
- It is one of  the most important modules of data science 
- Used to work with data in the form of frames/tables 
- Stands for panelData
- Data Analysis,Manipulation and Cleaning
  - Data Analysis means analysing the data
    - Stastics of the data,Volume of data etc
  - Data Manipulation means transforming the data from one format to another 
    - Merging,Concatenation etc
  - Data cleaning means removing the null data
    - Null Data means NAN (Not a Number)

2.Data Structures in Pandas

  1.Series 
    - Sequential data
  2. Data Frame
    - Data in tabular format i.e, rows and columns
  ## Installation 
 - Pip installation 
 - import pandas

In [ ]:
import pandas as pd
pd.__version__

'1.1.5'

#### we can create a series using str,tuple,list and dict

#### with str

In [ ]:
s="Iam Dhatri Phani Priya.Iam studying in Vrsec"
pd.Series(s)

0    Iam Dhatri Phani Priya.Iam studying in Vrsec
dtype: object

In [ ]:
# tuples
t=(1,2,3,4,5,6)
pd.Series(t)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
# try with input().split()
l=input("Enter string:").split()
pd.Series(l)

Enter string:Iam Dhatri Phani Priya.Iam studying in Vrsec

0          Iam
1       Dhatri
2        Phani
3    Priya.Iam
4     studying
5           in
6        Vrsec
dtype: object

In [ ]:
# using range()
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
pd.Series(range(5,10))

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [ ]:
pd.Series(range(5,10,2))

0    5
1    7
2    9
dtype: int64

In [ ]:
# using dict
d={1:[10,20,30],2:"B","g":(1,2,3,4),4.0:"Dhatri",5:50}
s=pd.Series(d)
s

1      [10, 20, 30]
2                 B
g      (1, 2, 3, 4)
4.0          Dhatri
5                50
dtype: object

In [ ]:
# creating series using numpy arrays
import numpy as np
a=np.arange(10,40,5)
l=pd.Series(a)
l

0    10
1    15
2    20
3    25
4    30
5    35
dtype: int64

In [ ]:
l[0]

10

In [ ]:
l[0:4]

0    10
1    15
2    20
3    25
dtype: int64

In [ ]:
l[0:len(l)]

0    10
1    15
2    20
3    25
4    30
5    35
dtype: int64

In [ ]:
# modifying indexing 
l.index

Int64Index([3, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
l[0:4]

3    10
4    15
5    20
6    25
dtype: int64

In [ ]:
l.index=[3,4,5,6,7,8]
l

3    10
4    15
5    20
6    25
7    30
8    35
dtype: int64

In [ ]:
l1=[9,3,4,5,6,"Dhatri"]
ind=[i for i in range(5,11)]
pd.Series(l1,index=ind)

5          9
6          3
7          4
8          5
9          6
10    Dhatri
dtype: object

In [ ]:
# pass the user index to series created using dict
# len(dic)
l=[i for i in range(10,16)]
pd.Series(s,index=l)

10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
dtype: object

In [ ]:
s.index

Index([1, 2, 'g', 4.0, 5], dtype='object')

In [ ]:
s

1      [10, 20, 30]
2                 B
g      (1, 2, 3, 4)
4.0          Dhatri
5                50
dtype: object

In [ ]:
s['g']

(1, 2, 3, 4)

In [ ]:
s['g'][1]

2

In [ ]:
l.index[5:7]

Int64Index([8], dtype='int64')

#Data Frames
  - Data is in 2d format

In [ ]:
# dict into dataframe
pd.DataFrame(s)

                0
1    [10, 20, 30]
2               B
g    (1, 2, 3, 4)
4.0        Dhatri
5              50

In [ ]:
data={"int":90,"float":90.8,"str":"Dhatri",'pgrm':"it"}
x=pd.DataFrame(data,index=[1,2,3])
x

   int  float     str pgrm
1   90   90.8  Dhatri   it
2   90   90.8  Dhatri   it
3   90   90.8  Dhatri   it

In [ ]:
pd.concat([s,x])                 #concatenation

                0  float   int pgrm     str
1    [10, 20, 30]    NaN   NaN  NaN     NaN
2               B    NaN   NaN  NaN     NaN
g    (1, 2, 3, 4)    NaN   NaN  NaN     NaN
4.0        Dhatri    NaN   NaN  NaN     NaN
5              50    NaN   NaN  NaN     NaN
1             NaN   90.8  90.0   it  Dhatri
2             NaN   90.8  90.0   it  Dhatri
3             NaN   90.8  90.0   it  Dhatri

In [ ]:
n={'name':'Dhatri','roll':94,'clg':'vrsec'}
p=pd.DataFrame(n,index=[100,101,102])
p
m={'int':1,'float':10.78,'string':'Priya'}
q=pd.DataFrame(m,index=[25,26,27])
q
pd.concat([p,q])

       name  roll    clg  int  float string
100  Dhatri  94.0  vrsec  NaN    NaN    NaN
101  Dhatri  94.0  vrsec  NaN    NaN    NaN
102  Dhatri  94.0  vrsec  NaN    NaN    NaN
25      NaN   NaN    NaN  1.0  10.78  Priya
26      NaN   NaN    NaN  1.0  10.78  Priya
27      NaN   NaN    NaN  1.0  10.78  Priya

In [ ]:
#Merging two dataframes
import pandas as pd
d3=pd.DataFrame({"int rate":[2,3,4],"grade":[10,30,40]},index=[201,203,204])
d3

     int rate  grade
201         2     10
203         3     30
204         4     40

In [ ]:
#joining two dataframes
d4=pd.DataFrame({"a":[1,2,3],"b":[4,5,6]},
                index=[2001,2002,2003])
d4

      a  b
2001  1  4
2002  2  5
2003  3  6

In [ ]:
d3.join(d4)             #Arranged based on index values

     int rate  grade   a   b
201         2     10 NaN NaN
203         3     30 NaN NaN
204         4     40 NaN NaN

In [ ]:
d4.join(d3)

      a  b  int rate  grade
2001  1  4       NaN    NaN
2002  2  5       NaN    NaN
2003  3  6       NaN    NaN

In [ ]:
# MERGING THE DATAFRAMES HAVING SIMILAR COLUMN VALUES
m=pd.DataFrame({'a':[4,5,6,7],'b':[1,2,3,4],'c':[9,8,7,6]},index=['f','s','t','fo'])
m

    a  b  c
f   4  1  9
s   5  2  8
t   6  3  7
fo  7  4  6

In [ ]:
n=pd.DataFrame({'a':[4,5,6,70],'b':[1,2,3,40],'c':[9,80,7,6]},index=['f','s','t','fo'])
n

     a   b   c
f    4   1   9
s    5   2  80
t    6   3   7
fo  70  40   6

In [ ]:
new=m.merge(n)
new

   a  b  c
0  4  1  9
1  6  3  7

In [ ]:
#remaining the col values 
new.columns=['first','second','third']
new

   first  second  third
0      4       1      9
1      6       3      7

In [ ]:
new.index=[10,20]
new

    first  second  third
10      4       1      9
20      6       3      7

In [ ]:
m.merge(n,on='c')                                   #merging based on particular column

   a_x  b_x  c  a_y  b_y
0    4    1  9    4    1
1    6    3  7    6    3
2    7    4  6   70   40

In [ ]:
#date range
dates=pd.date_range('2022-01-01','2022-01-10')
pd.Series(dates)

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
4   2022-01-05
5   2022-01-06
6   2022-01-07
7   2022-01-08
8   2022-01-09
9   2022-01-10
dtype: datetime64[ns]

In [ ]:
dt=pd.date_range('2022-01-01',periods=5)
pd.Series(dt)

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
4   2022-01-05
dtype: datetime64[ns]

In [ ]:
temp=[10,20,30,40,50]
pd.Series(temp)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
temp=[10,20,30,40,50]
pd.Series(temp,index=dt)

2022-01-01    10
2022-01-02    20
2022-01-03    30
2022-01-04    40
2022-01-05    50
Freq: D, dtype: int64

In [ ]:
new.index[1]

20

In [ ]:
new

    first  second  third
10      4       1      9
20      6       3      7

### working with .csv file
  - reading .CSV file location at same location 
  - pd.read csv('filename')

In [ ]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
marks=pd.read_csv('dhatri.csv')
marks

In [ ]:
#Data Proccessing 
# Select5 random samples
marks.sample()

In [ ]:
marks.sample(3)       # 3  random samples

In [ ]:
marks.head()

In [ ]:
marks.tail()          # last 5 samples

In [ ]:
marks.tail(2)         #

In [ ]:
# accaessing one particular col data
marks['roll']

In [ ]:
marks[['roll','Name','CO']]     #getting requried multiple col values

In [ ]:
#
new=pd.read_csv('dhatri.csv',usecols=['name','OS'])
new

In [ ]:
help(new)

In [ ]:
marks.columns

In [ ]:
marks.dtypes # data types of each column

In [ ]:
marks.index

In [ ]:
marks.info    #textual information

In [ ]:
marks.describe()   ##statistics of data

In [ ]:
marks.roll.value_counts()  # frequency of value

In [ ]:
marks['CA'].value_counts()

In [ ]:
marks.shape

In [ ]:
marks.sort_values("CA")

In [ ]:
marks.sort_values("roll",ascending=False)

In [ ]:
# adding new col into data frame
marks['total']=100
marks

In [ ]:
marks.CA.sum()  #summation of one col data

In [ ]:
marks.isnull()

In [ ]:
marks.isna()

In [ ]:
# finding unique values in each col
marks.nunique()

In [ ]:
# removing null characters
# cleaning of data
clean= marks.dropna()

In [ ]:
clean

In [ ]:
marks #original dataframe before cleaning

In [ ]:
from google.colab import drive
drive.mount('/content/drive')